@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

main{
    padding: 20px;
    overflow: auto;
}

nav {
    width: 100%;
    background-color: antiquewhite;
    overflow: auto;
}

nav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 25px;
}

nav a:hover {
    background-color: burlywood;
    color: beige;
    font-weight: bold;
    border-radius: 5px;

}
body {
    font-family: 'Afacad Flux';
    margin: 0;
    padding: 0;
}

.cover-image {
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    object-position: center;
    border-radius: 5x;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 20px;
    color: black;
    background-color: burlywood;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-widht: 1080px) {
    #content {
        width: 100%;
        padding: 0;
    }
}